<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    </div>
</head>
<body>
<div th:fragment="header">
    <!-- this is header -->
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/trial">TRIAL</a>
        <a href="/list">Adding to db</a>
        <a href="/file">Adding to file</a>
        <a  th:if="${@userContextHolder.getUserLoggedIn()}"  href="/categories">Kategorie</a>
        <a th:if="!${@userContextHolder.getUserLoggedIn()}" href="/register">Rejestracja</a>
        <a th:if="${@userContextHolder.getUserLoggedIn()}" href="/products">Produkty</a>
        <a th:if="!${@userContextHolder.getUserLoggedIn()}" href="/login">Login</a>
        <a th:if="${@userContextHolder.getUserLoggedIn()}" href="/logout" style="float: right;color: white">Wyloguj</a>
        <p style="color: white;float: right"
           th:if="${@userContextHolder.getUserLoggedIn()}"
           th:text="${@userContextHolder.getUserLoggedIn()}"></p>
    </div>

</div>

</body>
</html>