<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/header :: header-css"/>
    <meta charset="UTF-8">
    <title>List Printing</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<h3 th:text="'Type anything you want'" th:align="center"/>
<div class="container">
<form action="/list" method="post" align>
    <input type="text" name="listElement" th:align="center">
    <button>Add</button>
</form>
</div>
<ul th:each="historyElement : ${allElementsList}" class="list-group cal-hist-item">
    <li th:text="${historyElement.message}" th:classappend="${historyElementStat.odd}? 'odd'"
        class="collapse list-group-item">Element
    </li>
</ul>
</body>
</html>